services:
  lockproviderapi:
    image: lockprovider
    restart: unless-stopped
    ports:
      - "5200:5000"
      - "5201:5001"
    build:
      context: .
      dockerfile: LockProviderApi/Dockerfile

